<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCO1Xpeg_UZUPXAKrtNO09aktogXsWKNcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>649405651857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>code2.pe.w11E2firebase</string>
	<key>PROJECT_ID</key>
	<string>firstflutterproject-aaa1d</string>
	<key>STORAGE_BUCKET</key>
	<string>firstflutterproject-aaa1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649405651857:ios:a872f457d3c6c5d07f1830</string>
</dict>
</plist>